git+https://github.com/Rapptz/discord.py@rewrite
appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
docopt==0.6.2
filelock==3.0.12
idna==2.10
pipreqs==0.4.10
requests==2.25.1
six==1.15.0
urllib3==1.26.4
virtualenv==20.4.3
yarg==0.1.9
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
docopt==0.6.2
filelock==3.0.12
idna==2.10
multidict==5.1.0
pipreqs==0.4.10
python-dotenv==0.16.0
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.3
yarg==0.1.9
yarl==1.6.3
